.boost {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.5rem 2rem;
}

@media (min-width: 992px) {
  .boost {
    background-image: url('./images/bg-boost-desktop.svg');
  }

  .advanced-statistics {
    margin: 5rem 7rem;
    margin-top: 0;
    p {
      margin-bottom: 5rem;
    }

    .d-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 22.5rem;
    }

    .statistics-card {
      grid-row: 1 / -1;
      min-width: 21.875rem;
    }
    .card-border {
      grid-row: 1 / 2;
      border-bottom: 8px solid #2bd0d0;
    }
  }
}

@media (max-width: 992px) {
  .boost {
    background-image: url('./images/bg-boost-mobile.svg');
  }

  .advanced-statistics {
    margin: 5rem 1.5rem;

    .d-grid {
      grid-template-columns: 1fr 1fr;
    }
    .statistics-card {
      grid-column: 1 / -1;
      justify-self: center;
    }
    .card-border {
      grid-column: 1 / 2;
      border-right: 8px solid #2bd0d0;
      height: 5.75rem;
    }
  }
}
